/* google fonts importation */
@font-face {
    font-family: 'Fira Code';
    src: url('/static/fonts/Fira_Code/FiraCode-VariableFont_wght.ttf') format('truetype');
  }
  
body{
    font-family: 'Fira Code', monospace;
    background-image: url("/static/fonts/images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
}
h1{
  font-size: 100px;
  background: linear-gradient(to right,#5afa6f,#8c52ff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}
#app{
  backdrop-filter: blur(10px);
  z-index: -1;
  width: 95%;
  height: auto;
  margin:auto;
  border-radius: 10px;
}
span{
  font-size: 100px;
  color: white;
  margin: 20px;
  border: white 5px solid;
  border-radius: 50%;
  padding: 15px;
}
.time{
  text-align: center;
}
small{
  color: white;
  font-size: 100px;
}